/* Tarjeta general */
.movie-card {
    width: 75%;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* En pantallas medianas y superiores se fija una altura específica para la tarjeta */
@media (min-width: 768px) {
    .movie-card {
        height: 500px;
    }
}

.d-flex.flex-column.flex-md-row {
    height: 100%;
}

.movie-img {
    object-fit: cover;
}

/* En pantallas medianas y superiores, la imagen ocupa el 40% del ancho y el 100% del alto */
@media (min-width: 768px) {
    .movie-img {
        width: 40%;
        height: 100%;
        border-radius: 12px 0 0 12px;
    }
}

/* En pantallas pequeñas, la imagen ocupa el 100% del ancho y su altura se ajusta automáticamente */
@media (max-width: 767.98px) {
    .movie-img {
        width: 100%;
        height: auto;
        border-radius: 12px 12px 0 0;
    }
}

/* Estilos para el cuerpo del contenido de la tarjeta */
.movie-body {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-card .card-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.movie-card h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.movie-card p {
    font-size: 1rem;
}

.modal-content {
    border-radius: 12px;
    color: #18191a;
}