<div class="container mt-4">
    <h1 class="text-center mb-4">Catálogo de Películas</h1>

    <div class="row g-4">
        <div *ngFor="let movie of movies" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <!-- Tarjeta de pelicula -->
            <div class="card h-100 shadow-sm pointer" (click)="viewMovie(movie.id)">
                <img [src]="movie.cover" class="card-img-top img-fluid" alt="Cover de {{ movie.title }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="text-muted mb-2">Año: {{ movie.year }}</p>
                </div>
            </div>
        </div>
    </div>
</div>