html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupar el 100% de la altura de la pantalla */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./assets/fondo.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}

main {
    flex-grow: 1;
    color: aliceblue;
}